.new-repo-card {
    max-width: 600px;
    margin: 2rem auto;
    background-color: #2f1d62;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 2rem;
  }
  
  
  .repo-card-body {
    display: flex;
    flex-direction: column;
  }
  
  .repo-title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: white;
  }
  
  .repo-subtitle {
    color: #a1b4c4;
    margin-bottom: 1.5rem;
  }
  
  .form-group {
    margin-bottom: 1.25rem;
  }
  
  .form-label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: white    ;
  }
  
  .form-input {
    width: 100%;
    padding: 0.6rem 0.8rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    transition: border-color 0.2s;
  }
  
  .form-input:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .form-check {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;

  }
  
  .form-check-input {
    margin-right: 0.5rem;
    width: 1.1rem;
    height: 1.1rem;
  }
  
  .form-check-label {
    font-size: 1rem;
    color: aliceblue;
  }
  .btn{
    display: flex;
    justify-content: space-around;
  }
  
  .submit-btn {
    width: 40%;
    background-color: #0eb81a;
    color: white;
    border: none;
    padding: 0.75rem;
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .submit-btn:disabled {
    background-color: #647d99;
    cursor: not-allowed;
  }
  
  .submit-btn:hover:not(:disabled) {
    background-color: #0b884c;
  }
  