#suggrepo{
    display: flex;
    /* justify-content: space-between  ; */
    align-items: center;
    margin: 10px;
    font-family:Arial, Helvetica, sans-serif 'Trebuchet MS', sans-serif;
}

#suggrepo p{
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}
