.repo-card-list {
    /* display: flex; */
    flex-wrap: wrap;
    gap: 16px;
     /* Adjust layout, e.g., flex-start, flex-end, or center */
    padding: 16px;
    margin: 10px;
    text-align: start;
    border-radius: 10px;
    background-color: rgba(21, 22, 22,0.4);  /* Light background similar to GitHub */
  }
  